@font-face {
    font-family: 'Chivo Mono';
    src: url(../fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Changa';
    src: url(../fonts/Changa/Changa-VariableFont_wght.ttf);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#desenhos, #relogio {
    opacity: 0.2;
}

#relogio {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

img#logo_es {
    height: 12vh;
    margin: 1vh;
}

.horarios {
    letter-spacing: 0.5vh;
    word-spacing: 1vh;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 5vh;
}

#texto-licao {
    width: 60vh;
    font-weight: bold;
    margin: 2vh;
    font-size: 4.5vh;
}

#texto-tempo {
    border: 0.1vh solid white;
    border-radius: 2vh;
    padding: 0.5vh 1vh;
    min-width: 70vh;
}

.tempo_restante {
    font-size: 14vh;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5vh;
    text-shadow: black 1vh 1vh 0.1vh;
    font-family: 'Chivo Mono', monospace;
}

.piscar_dois_pontos {
    color: rgba(255, 255, 255, 0);
    transition: color 500ms;
}

.ocultar {
    display: none;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

#desenhos {
    width: 95vh;
    height: 95vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

#controles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    align-items: center;
    justify-content: space-between;
}

#ajuda {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    align-items: center;
    justify-content: space-between;
}

#duracao input {
    width: 15vh;
}

.elementos svg {
    width: inherit;
    height: inherit;
}

.elementos {
    width: 95vh;
    height: 95vh;
    position: absolute;
}

#ponteiro-segundos {
    transition: 500ms;
}

button {
    background-color: black;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 4.5vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

button:hover {
    background-color: rgb(63, 63, 63);
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 4.5vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
}

#zerar button {
    background-color: black;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

#zerar button:hover {
    background-color: rgba(255, 255, 0, 0.2);
    border: 0.2vh solid rgb(255, 255, 0);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    cursor: pointer;
}

#on-off-2-tela {
    margin-top: 4vh;    
}

#on-off-2-tela span,
#on-off-2-tela input {
    margin: 0 1vh 0 1vh;
}

#checker-2-tela {
    all: unset;
    width: 3vh;
    height: 3vh;
    background: #FFF;
    cursor: pointer;
    border-radius: 1vh;
    border: 0.5vh solid white;
}

#checker-2-tela:hover {
    width: 3vh;
    height: 3vh;
    background: #FFF;
    cursor: pointer;
    border-radius: 1vh;
    border: 0.5vh solid rgb(14, 126, 201);
}

#checker-2-tela:checked {
    background-color: rgb(14, 126, 201);
    border: 0.5vh solid white;
}

#checker-2-tela:checked:hover {
    background-color: rgb(14, 126, 201);
    border: 0.5vh solid rgb(14, 126, 201);
    cursor: pointer;
}

#on-off-2-tela span {
    font-size: 2.5vh;
    letter-spacing: 0.3vh;
    font-family: 'Changa', sans-serif;
}

#hora-alvo input,
#duracao input {
    background-color: white;
    border-radius: 1vh;
    color: black;
    font-size: 5vh;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

fieldset {
    border-radius: 1vh;
    padding: 2vh 3vh;
    text-align: center;
    margin: 0.5vh;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
}

fieldset div input:nth-child(3),
fieldset div button {
    margin-left: 2vh;
}

#duracao span {
    font-size: 4.5vh;
}

legend {
    font-size: 4.5vh;
    font-weight: bold;
    padding: 0 2vh;
    border-radius: 1vh;
}

#entrar-fullscreen:hover,
#sair-fullscreen:hover,
#botao-ajuda:hover {
    fill: yellow;
    height: 15vh;
    width: 15vh;
    cursor: pointer;
}


#entrar-fullscreen,
#sair-fullscreen,
#botao-ajuda {
    fill: white;
    height: 7vh;
    width: 7vh;
    transition: width 200ms;
}

#fullscreen,
#ajuda {
    display: flex;
    height: 15vh;
    width: 15vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

