@font-face {
    font-family: 'Chivo Mono';
    src: url(../fonts/Chivo_Mono/ChivoMono-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Changa';
    src: url(../fonts/Changa/Changa-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Chakra Petch';
    src: url(../fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}

@keyframes piscar {
    0% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        color: rgba(255, 255, 255, 0);
    }
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

#relogio {
    width: 95vh;
    height: 95vh;
    position: relative;
}

#div_externa {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#div_interna {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#texto-licao {
    width: 50vh;
    font-weight: bold;
    margin: 2vh;
}

img#logo_es {
    height: 12vh;
    margin: 1vh;
}

h2 {
    font-size: 4.5vh;
}

.tempo_restante {
    font-size: 15vh;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.5vh;
    text-shadow: black 1vh 1vh 0.1vh;
    font-family: 'Chivo Mono', monospace;
}

.piscar_dois_pontos {
    animation: piscar 500ms infinite;
}

.ocultar {
    display: none;
}

#desenhos {
    width: 95vh;
    height: 95vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

#controles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
}

.horarios {
    letter-spacing: 0.5vh;
    word-spacing: 1vh;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 5vh;
}

#duracao input {
    width: 12vh;
}

.elementos svg {
    width: inherit;
    height: inherit;
}

.elementos {
    width: 95vh;
    height: 95vh;
    position: absolute;
}

#ponteiro-segundos {
    transition: 500ms;
}

.organizar {
    display: block;
}

button {
    background-color: black;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

button:hover {
    background-color: rgb(63, 63, 63);
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

#zerar button {
    background-color: black;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    opacity: 0.2;
}

#zerar button:hover {
    background-color: black;
    border: 0.2vh solid rgb(255, 255, 0);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
    opacity: 1;
}

#on-off-2-tela {
    margin-top: 4vh;    
}

#on-off-2-tela span,
#on-off-2-tela input {
    margin: 0 1vh 0 1vh;
}

#checker-2-tela {
    all: unset;
    width: 3vh;
    height: 3vh;
    background: #EEE;
    cursor: pointer;
    border-radius: 1vh;
    border: 0.5vh solid white;
}

#checker-2-tela:hover {
    width: 3vh;
    height: 3vh;
    background: #EEE;
    cursor: pointer;
    border-radius: 1vh;
    border: 0.5vh solid rgb(14, 126, 201);
}

#checker-2-tela:checked {
    background-color: rgb(14, 126, 201);
    border: 0.5vh solid white;
}

#checker-2-tela:checked:hover {
    background-color: rgb(14, 126, 201);
    border: 0.5vh solid rgb(14, 126, 201);
}

#on-off-2-tela span {
    font-size: 2.5vh;
    letter-spacing: 0.3vh;
    font-family: 'Changa', sans-serif;
}

#hora-alvo input,
#duracao input {
    background-color: white;
    border-radius: 1vh;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

fieldset {
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
    margin: 0.5vh;
    background-color: black;
    border-width: 1px;
}

label {
    font-size: 3vh;
    font-weight: bold;
}

#entrar-fullscreen:hover,
#sair-fullscreen:hover {
    fill: yellow;
    height: 15vh;
    width: 15vh;
}

#fullscreen {
    height: 15vh;
    width: 15vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#entrar-fullscreen,
#sair-fullscreen {
    fill: white;
    margin: 2vh;
    height: 5vh;
    width: 5vh;
}

#texto-tempo {
    border: 0.1vh solid white;
    border-radius: 2vh;
    padding: 0.5vh 1vh;
    min-width: 70vh;
}