* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Chakra Petch', 'Segoe UI', sans-serif;
    
}

