* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

@keyframes piscar {
    0% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        color: rgba(255, 255, 255, 0);
    }
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

#relogio {
    width: 95vh;
    height: 95vh;
    position: relative;
}

#div_externa {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#div_interna {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#texto-licao {
    width: 50vh;
}

img#logo_es {
    height: 20vh;
}

h2 {
    font-size: 5vh;
}

.tempo_restante {
    font-size: 15vh;
    text-align: center;
}

.piscar_dois_pontos {
    animation: piscar 500ms infinite;
}

.ocultar {
    display: none;
}

#desenhos {
    width: 95vh;
    height: 95vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

#controles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    bottom: 10px;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
}

#hora-atual {
    border: 1px solid white;
    border-radius: 1vh;
    padding: 1vh 3vh;
}

.controles {
    color: black;
    padding: 1vh;
}

#duracao input {
    width: 10vh;
}

.elementos svg {
    width: inherit;
    height: inherit;
}

.elementos {
    width: 95vh;
    height: 95vh;
    position: absolute;
}

#ponteiro-segundos {
    transition: 500ms;
}

.organizar {
    display: block;
}

#voltar button {
    background-color: black;
    border: 0.5vh solid rgba(255, 255, 255, 0.103);
    border-radius: 1vh;
    color: rgba(255, 255, 255, 0.192);
    font-size: 2vh;
}

#voltar button:hover, 
#hora-alvo button,
#duracao button {
    background-color: black;
    border: 0.5vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 2vh;
}

#hora-alvo input,
#duracao input {
    background-color: white;
    border-radius: 1vh;
    color: black;
    font-size: 2vh;
    font-weight: bold;
}