* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Chakra Petch', 'Changa', sans-serif;
}

@keyframes piscar {
    0% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        color: rgba(255, 255, 255, 0);
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

#relogio {
    width: 95vh;
    height: 95vh;
    position: relative;
}

#div_externa {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#div_interna {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#texto-licao {
    width: 50vh;
    word-spacing: 1vh;
    letter-spacing: 0.5vh;
    font-weight: lighter;
}

img#logo_es {
    height: 20vh;
}

h2 {
    font-size: 5vh;
}

.tempo_restante {
    font-size: 15vh;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1vh;
}

.piscar_dois_pontos {
    animation: piscar 500ms infinite;
}

.ocultar {
    display: none;
}

#desenhos {
    width: 95vh;
    height: 95vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

#controles {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
}

#hora-atual {
    border: 1px solid white;
    border-radius: 1vh;
    padding: 1vh 3vh;
    letter-spacing: 1vh;
    font-weight: lighter;
}

.controles {
    color: black;
    text-align: center;
}

#duracao input {
    width: 12vh;
}

.elementos svg {
    width: inherit;
    height: inherit;
}

.elementos {
    width: 95vh;
    height: 95vh;
    position: absolute;
}

#ponteiro-segundos {
    transition: 500ms;
}

.organizar {
    display: block;
}

#hora-alvo button,
#duracao button {
    background-color: black;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

#hora-alvo button:hover,
#duracao button:hover {
    background-color: rgb(63, 63, 63);
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1vh;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

#hora-alvo input,
#duracao input {
    background-color: white;
    border-radius: 1vh;
    color: black;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Changa', sans-serif;
    padding-left: 2vh;
    padding-right: 2vh;
}

fieldset {
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
    margin: 0.5vh;
    background-color: black;
    border-width: 1px;
}

label {
    font-size: 3vh;
    font-weight: bold;
}

#botao-fullscreen:hover {
    fill: yellow;
    margin: 2vh;
    height: 12vh;
    width: 12vh;
    margin: 1vh;
}

#fullscreen {
    height: 15vh;
    width: 15vh;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#botao-fullscreen {
    fill: white;
    margin: 2vh;
    height: 5vh;
    width: 5vh;
    margin: 1vh;
}